// color styles
$bg-slate-300: rgb(203 213 225);
$bg-slate-400: rgb(148 163 184);
$bg-slate-500: rgb(100 116 139);
$bg-slate-600: rgb(71 85 105);
$bg-slate-700: rgb(51 65 85);
$bg-slate-800: rgb(30 41 59);
$bg-slate-900: rgb(15 23 42);

.sign-in-section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 6px;
  padding-left: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(249 250 251);
  width: 100vw;
  height: 100vh;
  margin-top: -95px;

  .sign-in-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: rgb(22 0 66);

    .line-container {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-bottom: 10px;
      margin: 40px 0;
      flex-wrap: wrap;
      position: relative;

      .line {
        width: 100px;
        // max-width: 100px;
        border: 1px solid $bg-slate-400;
      }

      .or {
        position: absolute;
        bottom: -14px;
        right: 35px;
        background-color: rgb(249 250 251);
        padding: 5px;
        color: $bg-slate-500;
      }
    }
  }

  .right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    flex-wrap: wrap;
  }
}
