$violet-900: rgb(76 29 149);
$violet-800: rgb(91 33 182);
$violet-700: rgb(109 40 217);
$violet-600: rgb(124 58 237);
$violet-500: rgb(139 92 246);
$violet-400: rgb(167 139 250);
$violet-300: rgb(196 181 253);
$violet-200: rgb(221 214 254);
$violet-100: rgb(237 233 254);

$white-color: white;

//green
$green-900: rgb(20 83 45);
$green-800: rgb(22 101 52);
$green-700: rgb(21 128 61);
$green-600: rgb(22 163 74);
$green-500: rgb(34 197 94);
$green-400: rgb(74 222 128);
$green-300: rgb(134 239 172);
$green-200: rgb(187 247 208);
$green-100: rgb(220 252 231);

.button-container {
  border-radius: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 64px;
  padding-left: 64px;
  max-width: 400px;
  width: 400px;
  background-color: $violet-700;
  border-width: 1px;
  font-weight: 600;
  font-size: 15px;
  border-color: $violet-700;
  color: $white-color;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $violet-900;
    color: $white-color;
    transition: 150ms ease all;
  }

  &.google-sign-in-button {
    background-color: transparent;
    color: $violet-700;

    &:hover {
      background-color: $violet-700;
      color: $white-color;
    }
  }

  &.inverted-button {
    background-color: transparent;
    color: $violet-700;

    &:hover {
      background-color: $violet-700;
      color: $white-color;
    }
  }

  &.checkout-button {
    background-color: $green-700;
    color: $white-color;

    &:hover {
      background-color: $green-800;
      color: $white-color;
    }
  }
}
