.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .google-text {
    display: flex;
    justify-content: center;
    margin: auto;

    .google-icon {
      height: 100%;
      width: 15px;
      margin-right: 15px;
    }
  }
}
