// color styles
$bg-slate-300: rgb(203 213 225);
$bg-slate-400: rgb(148 163 184);
$bg-slate-500: rgb(100 116 139);
$bg-slate-600: rgb(71 85 105);
$bg-slate-700: rgb(51 65 85);
$bg-slate-800: rgb(30 41 59);
$bg-slate-900: rgb(15 23 42);

$violet-900: rgb(76 29 149);
$violet-800: rgb(91 33 182);
$violet-700: rgb(109 40 217);
$violet-600: rgb(124 58 237);
$violet-500: rgb(139 92 246);
$violet-400: rgb(167 139 250);
$violet-300: rgb(196 181 253);
$violet-200: rgb(221 214 254);
$violet-100: rgb(237 233 254);

.log-in-section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 6px;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  background-color: rgb(249 250 251);
  width: 100vw;
  height: 100vh;
  margin-top: -95px;

  .log-in-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    .log-in-link {
      margin-top: 10px;
      color: $bg-slate-500;

      .nav-link {
        color: $violet-900;
      }
    }
  }
}
