.cart-menu-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;

    // for when cart items get added so you can scroll instead of it spilling pass dimensions of cart menu container
    overflow: scroll;
  }

  .checkout-link {
    margin-top: auto;

    button {
      width: 100%;
    }
  }
}
